@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-wallpaper{
    background-image: url("../../public/ventura-wallpaper.webp");
    background-position: center;
    background-size: cover;
}

#dock{
    --scale: 1;
}

#dock li{
    /*font-size: calc(6rem * var(--scale));*/
    position: relative;
    scale: var(--scale);
    top: calc((6rem * var(--scale) - 6rem) / 2 * -1);
    transition: 150ms all ease-out;
}

[data-tooltip]:hover:after{
    content: attr(data-tooltip);
    transform: translate(-50%, -50%);
    @apply absolute left-1/2 px-2 py-[3px] rounded-sm w-fit text-white text-[7px] bg-[rgb(41,36,35)] z-10 shadow-md outline-2 outline-black border-[0.5px] border-amber-50 border-opacity-15 flex justify-center items-center text-center text-nowrap -top-6 ;
}

